
.home_top {
    border-top: 4px  solid rgb(3, 24, 255);
    border-left: 4px  solid rgb(3, 24, 255);
    border-radius: 50px;
    color: rgb(8, 60, 111);
    width: 216vh;
}

.top_2 {
    color: rgb(15, 133, 149);
}

.nav_btns{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.box1 {
    width: 700px;
}

.img_text{
    display:flex ;
    justify-content: space-between;
  
}

.img_lap{
    width: 610px;
    height: 400px;
    box-shadow: 15px 15px 15px #f6eaea;
    border-radius: 15px;
    transition: transform .2s;
}
.img_lap:hover{
    transform: scale(1.05); 
    box-shadow: 15px 15px 15px black;
    
}

.signup {
    border: 4px solid rgb(255, 255, 255);
    padding: 30px;
    margin-top: 30px;
}

.footer{
    margin: 0px;
}

